# Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=agendamento_consultas

# LocalStack Personal Auth Token
# Deve criar um arquivo na raiz do projeto chamado .env e colocar o token do localstack nesse arquivo, no formato:

LOCALSTACK_AUTH_TOKEN= #colocar o token do localstack aqui